html, body {
    background-color: gray;
    padding: 20px;
}

input {
    background-color: lightcyan;
}


.custom-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: lightpink;
    border-radius: 10px;
}